entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[env]
LIBGL_KOPPER_DISABLE = "true"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[[ports]]
localPort = 5900
externalPort = 80
